<html lang="en">
<head>
    <title>UnisonHT: Home</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <style>
        .content {
            margin: 5px;
        }

        ul.modes, ul.devices {
            list-style: none;
            padding: 0;
        }

        ul.modes li, ul.devices li {
            display: inline;
            padding-left: 5px;
        }
    </style>
</head>
<body>
<div id="root"></div>

<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script src="/assets/js/react.js"></script>
<script src="/assets/js/react-dom.js"></script>
<script src="/assets/js/babel.js"></script>
<script src="/assets/js/axios.js"></script>

<script type="text/babel">
    <%- include('Modes.jsx'); %>
    <%- include('Devices.jsx'); %>
    <%- include('App.jsx'); %>

    ReactDOM.render(<App/>, document.getElementById('root'));
</script>
</body>
</html>
